<div class="dashboard-container">
  <!-- <div class="page-title"></div> -->
  <div class="dashboard-info">
      <label class="left">Active Customer</label>
      <label class="right">50</label>
  </div>
  <div class="dashboard-info">
      <label class="left">Inactive Customers</label>
      <label class="right">45</label>
  </div>
  <div class="dashboard-info">
      <label class="left">App Accessed </label>
      <div class="list-view">
          <ul>
              <li>
                  <label class="left">Today</label><label>67</label>
              </li>
              <li>
                  <label class="left">Yesterday</label><label>35</label>
              </li>
              <li>
                  <label class="left">Weekly</label><label>120</label>
              </li>
          </ul>
          
      </div>
  </div>
  <div class="dashboard-info">
      <label class="left">Last Weather feed</label>
      <label class="right">17-10-2017</label>
  </div>
  <div class="dashboard-info">
          <label class="left">Last Ussage file</label>
          <label class="right">03-04-2018</label>
      </div>
  <div class="dashboard-info">
      <label class="left">App Installation</label>
      <label class="right">25</label>
  </div>
  <div class="dashboard-info dashboard-info-last">
      <label class="left">Access Devices</label>
      <label class="right">25</label>
  </div>

</div>
